
body
{
    margin: 0;
    padding: 0;
    background-image: url("images/retina_wood.png");
}
h1
{
    padding: 0;
}

.banner{
    width: 100%;
    height: 20%;
    margin-top: 0;
    #border: 2px solid green;
    background-position: 100px 100px;
    #background-image: url('images/xxx.jpg');
}

.header
{
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    text-align: center;
    font-size: 24pt;
    font-family: cursive;
    font-weight: bolder;
    color: saddlebrown ;
    #background-color: #7079db;
    text-shadow:1px 1px beige;
    #padding: 0;
    margin-bottom: 10px;
    clear: both;
    border: 4px ridge white;
    #opacity: 0.4;
    background-image: url("images/retina_wood.png");
    #background-image: url("images/mochaGrunge.png");
}
.content
{
    padding: 0;
    margin: 0;
    width: 78%;
    height: 600px;
    #border: 2px solid black;
    float: left;
    background-image: url("images/mochaGrunge.png");
    font-family: cursive;
    color: white;
}

.index
{
    margin: 0;
    width: 21%;
    height: 600px;
    border: 4px groove white;
    float: right;
    #overflow-y: scroll;
    #background-image: url("images/Wood-Background.jpg");
    font-weight: bolder;
    color: saddlebrown ;
    text-shadow:1px 1px beige;
    #opacity: 0.4;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li{
    line-height: 1.3em;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
    margin: 5px;
}

.mylink
{
    font-weight: bold;
    display:block;
    text-decoration: none;
    color: saddlebrown;
    #background:transparent url('images/Underline_Flourish.png') center top no-repeat;
}

.mylink:hover span{
    #background-image: url('images/underline.gif');
    background-color: gold;
    text-decoration: underline;
    color: brown;
    text-shadow: none;
}

.dropdown{
    padding: 2px;
    margin: 2px;
}

.dropdown .mylink{
    padding-left: 25px;
}