body
{
    background-image: url("../images/retina_wood.png");
}

.articleContent
{
    padding: 10px;
    margin: auto;
    width: 90%;
    height: 600px;
    border: 4px groove white;
    #float: right;
    #overflow-y: scroll;
    font-weight: bolder;
    color: saddlebrown ;
    text-shadow:1px 1px beige;
    #opacity: 0.4;
}